<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    
</body>
</html>

<div>
    <p id="foo1"><a href=""></a></p>
    <p id="foo2"><a href=""></a></p>
    <p id="foo3"><a href=""></a></p>
</div>

<div>
    <p id="1"><a href=""></a></p>
    <p id="2"><a href=""></a></p>
    <p id="3"><a href=""></a></p>
</div>

<div>
    <p id="foo1"><a href=""></a></p>
    <p id="foo2"><a href=""></a></p>
    <p id="foo3"><a href=""></a></p>
</div>


<ul>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
</ul>

<!-- <ul>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
</ul> -->
html:5

<blockquote>
<ore>
test1
test2
test3
test4
test5</ore></blockquote>


http://www.google.com/

<div>
    <ul>
        <li id="id_01" class="class"></li>
        <li id="id_02" class="class"></li>
        <li id="id_03" class="class"></li>
        <li id="id_04" class="class"></li>
        <li id="id_05" class="class"></li>
    </ul>
</div>
