{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

{% block header %}
<h1>Sns</h1>
<p class="caption">Recent messages are shown here.</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags}}"
         {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
{% for item in contents %}
<hr>
{{login_user}}
<p class="message_content">{{item.content}}</p>
<p class="message_date">{{item.pub_date}}</p>
{% endfor %}
{% endblock %}

